<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.auxing.znhy.mapper.LicenseMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.auxing.znhy.entity.License">
        <id column="ID" property="id" />
        <result column="START_TIME" property="startTime" />
        <result column="END_TIME" property="endTime" />
        <result column="REMAIN_TIME" property="remainTime" />
        <result column="ALL_TIME" property="allTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ID, START_TIME, END_TIME, REMAIN_TIME, ALL_TIME
    </sql>

</mapper>
